/* SEARCH BAR */
.search-form {
    display: flex;
    margin-bottom: 1.5rem;
}

.search-form > * {
    padding: 8px 16px; 
}

.search-form i {
    background-color: #D9D9D9;
    border-radius: 15px 0px 0px 15px;
}

.search-form .info-placeholder {
    font-weight: 700;
    font-size: 16px;
    color: black;
    border: 1px #D9D9D9 solid;
    overflow: hidden;
    flex-shrink: 2;
}

.search-form button {
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #0065FC;
    border: transparent;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    opacity: 0.9;
}

.search-form button:hover {
    opacity: 1;
}

.fa-solid.fa-magnifying-glass {
    background-color: inherit;
    display: none;
}

@media screen and (max-width:768px) {
    .search-form .search-text {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: inline;
    }
}
