*{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

/* NAVBAR */
nav img {
    width: 61px;
    height: 29;
    margin-left: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    width: 162px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 3px solid transparent;
}
 
nav a:hover {
    color: #0065FC; 
    border-top: 3px #0065FC solid;
}

@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
    }

    nav img {
        padding-top: 20px;
    }

    nav a {
        border-bottom: 2px solid #F2F2F2;
    }

    nav a:hover {
        color: #0065FC; 
        border-top: hidden;
        border-bottom-color: #0065FC;
    }
}

/* MAIN */
main {
    padding: 0 2rem;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    padding-top: 0.75rem;
    margin-bottom: 1rem;  
}

h2 {
    font-weight: 700;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

/* HEADING */
.heading p {
    margin-bottom: 1.5rem;
}

/* SEARCH BAR */
.search-form {
    display: flex;
    margin-bottom: 1.5rem;
}

.search-form > * {
    padding: 8px 16px; 
}

.search-form i {
    background-color: #D9D9D9;
    border-radius: 15px 0px 0px 15px;
}

.search-form .info-placeholder {
    font-weight: 700;
    font-size: 16px;
    color: black;
    border: 1px #D9D9D9 solid;
    overflow: hidden;
    flex-shrink: 2;
}

.search-form button {
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #0065FC;
    border: transparent;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    opacity: 0.9;
}

.search-form button:hover {
    opacity: 1;
}

.fa-solid.fa-magnifying-glass {
    background-color: inherit;
    display: none;
}

@media screen and (max-width:768px) {
    .search-form .search-text {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: inline;
    }
}

/* FILTERS */
.filters-container, 
.first-row,
.second-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter-title {
    margin-right: 40px;
    margin-bottom: 1.5rem;
}

.filter-button {
    border:3px solid #D9D9D9;
    border-radius: 30px;
    padding: 12px;
    margin-right: 40px;
    margin-bottom: 1.5rem;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.filter-button i {
    color:#0065FC;
}

.filters-container p {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
}

@media screen and (max-width:768px) {
    .filter-title {
        width: 100%;
    }

    .filter-button {
        width: 160px;
    }

    .filter-button p {
        font-size: 11px;
    }
}

/* INFO */
.info i {
    color:#0065FC;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    padding: 6px 10px 8px 10px;
}